<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.raceinfo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".renang"></activity>
        <activity android:name=".lari" />
        <activity android:name=".basketku" />
        <activity android:name=".bolavoliku" />
        <activity android:name=".lompatjauhku" />
        <activity android:name=".taekwondoku" />
        <activity android:name=".pencaksilatku" />
        <activity android:name=".buku1" />
        <activity android:name=".info1" />
        <activity android:name=".home1" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>